<!-- login.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="cabeca">
        <p class="nigga">niggazap</p>
      </div>
    <div class="inputs" >
        <h2>Login</h2>
        <form action="/login" method="post">
        <label for="telefone">Telefone:</label>
        <input class="v1" type="text" id="telefone" name="telefone"><br><br>
        <label for="senha">Password:</label>
        <input class="v1" type="password" id="senha" name="senha"><br><br>
        <input class="button" type="submit" value="Login">
        </form>
        <p>Não tem uma conta? <a href="/cadastro">Cadastre-se aqui</a>.</p>
    </div>
    
</body>
</html>
